<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.group3_decisionbasedgame.group3_decisionbasedgame">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Group_DecisionBasedGame">
        <activity
            android:name="com.group3_decisionbasedgame.group3_decisionbasedgame.Ending1"
            android:exported="false" />
        <activity
            android:name="com.group3_decisionbasedgame.group3_decisionbasedgame.ChoiceAOutcome"
            android:exported="false" />
        <activity
            android:name="com.group3_decisionbasedgame.group3_decisionbasedgame.ChoiceD"
            android:exported="false" />
        <activity
            android:name="com.group3_decisionbasedgame.group3_decisionbasedgame.ChoiceC"
            android:exported="false" />
        <activity
            android:name="com.group3_decisionbasedgame.group3_decisionbasedgame.ChoiceB"
            android:exported="false" />
        <activity
            android:name="com.group3_decisionbasedgame.group3_decisionbasedgame.ChoiceA"
            android:exported="false" />
        <activity
            android:name="com.group3_decisionbasedgame.group3_decisionbasedgame.MainStory"
            android:exported="false" />
        <activity
            android:name="com.group3_decisionbasedgame.group3_decisionbasedgame.Choices"
            android:exported="false" />
        <activity
            android:name="com.group3_decisionbasedgame.group3_decisionbasedgame.Quit"
            android:exported="false" />
        <activity
            android:name=".Play"
            android:exported="false" />
        <activity
            android:name="com.group3_decisionbasedgame.group3_decisionbasedgame.uidesign"
            android:exported="false" />
        <activity
            android:name="com.group3_decisionbasedgame.group3_decisionbasedgame.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>